<header class="jumbotron jumbotron-fluid">
  <section class="container">
    <h2>Cadastrar nova pessoa</h2>
  </section>
</header>

<form class="container">
  <section class="form-group">
    <input type="text" class="form-control" id="inputFirstName" placeholder="Nome">
  </section>
  <section class="form-group">
    <input type="text" class="form-control" id="inputLastName" placeholder="Sobrenome">
  </section>
  <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Cadastrar</button>
</form>
